<!DOCTYPE html>
<html>
  <head>
    <title>TestChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if @current_user.recruiter? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= user_job_posts_path(@current_user) %>">DSO Recruiter Dasbhoard</a>
            </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link" href="<%= owner_user_providers_path(@current_owner, @current_user) %>">Providers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= owner_user_job_posts_path(@current_owner, @current_user) %>">Job Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= owner_user_chats_path(@current_owner, @current_user) %>">Chats</a>
            </li>
          </ul>
          <div class='d-flex'>
            <%= "Logged in as #{@current_user.name}" %>
          </div>
        </div>
      </div>
    </nav>
    <div class='container'>
      <h1><%= @current_owner.name %></h1>
      <%= yield %>
    </div>
  </body>
</html>
